# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/
*release*
dependency-reduced-pom.xml

# ignored so it can be generated for tests and validated that a new file is created
src/test/resources/project/ignored